<% include ../header.ejs %>
<p class="text-center">You have been invited to join <%=name%></p>
<% if (user) { %>
    <p class="text-center">If you would like to join, click the "Join" button, otherwise click "Cancel"</p>
    <form id="joinForm" action="/manage/join">
    <input type="hidden" value="<%=id%>" name="id">
    <input class="btn btn-warning" type="submit" value="Join"> <a class="btn btn-default" href="<%=lastPage%>">Cancel</a>
    </form>
    <h3 id="confirmation" class="text-center"></h3>
<% } else { %>
    <p class="text-center">You must be logged in to join a league.</p>
    <form action="/auth/login" method="post">
        <div class="form-group">
        <input type="text" name="name" placeholder="Username" id="username" class="form-control">
        <input type="password" name="password" placeholder="Password" id="password" class="form-control">
        </div>
        <input type="submit" value="Login" class="btn btn-primary btn-sm">
        <button id="cancelLogin" class="btn btn-primary btn-sm">Cancel</button>
        </form>
<% } %>

<% include ../footer.ejs %>