<% include ../partials/header.ejs %>
<h3 class="text-center">You have been invited to join <em><b><%=name%></b></em></h3>
<% if (user) { %>
<h3 class="text-center">If you would like to join, click the "Join" button, otherwise click "Cancel"</h3>
<br>
<form id="joinForm" action="/manage/join">
    <input type="hidden" value="<%=id%>" name="id">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <input class="btn btn-warning col-sm-4 col-sm-offset-4" type="submit" value="Join">
        </div>
        <div class="col-sm-3">
            <a class="btn btn-default col-sm-4 col-sm-offset-4" href="<%=lastPage%>">Cancel</a>
        </div>
    </div>
</form>
<h3 id="confirmation" class="text-center"></h3>
<% } else { %>
<h4 class="text-center">You must be logged in to join a league.</h4><br>
<form action="/auth/login" method="post">
    <div class="row">
        <div class="form-group col-sm-6 col-sm-offset-3">
        <div class="col-sm-6">
            <input type="text" name="name" placeholder="Username" id="username2" class="form-control">
        </div>
        <div class="col-sm-6">
            <input type="password" name="password" placeholder="Password" id="password" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-sm-offset-3">
        <input type="submit" value="Login" class="btn btn-primary btn-sm pull-right">
    </div>
    <div class="col-sm-3">
        <button id="cancelLogin" class="btn btn-primary btn-sm">Cancel</button>
    </div>
</div>
</form>
<% } %>

<% include ../partials/footer.ejs %>