<% include ../partials/header.ejs %>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h3 class="text-center star-font">Sign up for</h3><h2 class="text-center blue-glow">Fantasy Starcraft 2</h2>
        <form id="signup" action="/auth/signup" method="post">
            <div class="form-group">
            <label for="name" id="unameLabel" class="alertLabel">Please enter a valid username of at least 4 characters and no more than 30 characters</label>
                <input id="uname" type="text" name="name" placeholder="Enter a username" class="form-control">
<br>
                <label id="emailLabel" for="email" class="alertLabel">Please enter a valid email address</label>
                <input id="email" type="text" name="email" placeholder="Enter an email address" class="form-control">
<br>
                <label for="password" id="pwdLabel" class="alertLabel">Please enter a valid password of at least 8 characters</label>
                <input id="pwd" type="password" name="password" placeholder="Enter a password" class="form-control">
<br>
                <label for="password2" id="pwd2Label" class="alertLabel">Your passwords do not match</label>
                <input id="pwd2" type="password" name="password2" placeholder="Re-enter your password" class="form-control">
            </div>
            <input type="submit" value="Sign Up" class="btn btn-primary btn-lg center-block">
        </form>
    </div>
</div>


<% include ../partials/footer.ejs %>