
<br>
<hr>
<div class="row">
<p class="text-center footer-text">&copy;2015 Timon Pike. Contact: <a href="mailto:timonpike@gmail.com">timonpike@gmail.com</a></p>
<p class="text-center footer-text">Flag icons by <a href="http://www.icondrawer.com">IconDrawer</a>. Team icons from <a href="http://wiki.teamliquid.net/starcraft2/Main_Page">Liquipdia</a>. Player and match data from <a href="http://aligulac.com/">ALIGULAC</a>.</p>
</div>
    </div>
</body>
</html>