@font-face {
    font-family: 'starcraftnormal';
    src: url('/font/starcraftnormal-webfont.eot');
    src: url('/font/starcraftnormal-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/starcraftnormal-webfont.woff2') format('woff2'),
         url('/font/starcraftnormal-webfont.woff') format('woff'),
         url('/font/starcraftnormal-webfont.ttf') format('truetype'),
         url('/font/starcraftnormal-webfont.svg#starcraftnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

#loginForm {
    display: none;
}

body {
    background-image: url('/images/starfield_nasa.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center top;
    color: white;
    font-family: 'starcraftnormal';
}

hr {
    border-color: rgb(0,51,102);
}

p.footer-text {
    font-size: 8pt;
    font-family: 'helvitica';
}

nav.navbar {
    background-color: rgba(0,51,102,0.5);
    border-color: rgba(0,51,102,0.5);
    color: rgba(0,0,0,1);
}

.navbar-brand {
    color: white;
}

.navbar-nav {
    color: white;
}

img.icon {
    width: 32px;
}

img.icon-sm {
    width: 24px;
}

img.icon-lg {
    width: 48px;
}

img.icon-xl {
    width: 64px;
}