<% include ../partials/header.ejs %>

<h1 class="text-center">How to Play</h1>
<hr>
<h3>After signing up, select a tournament and create a league, or ask a friend to join his league.</h3>
<h3>After you are part of a league, go to the tournament page to create a team from the roster of players, click a player's name to see some stats and click the add button to add them to your team.</h3>
<h3>Once you've created a team, you can see your team on your account page or on the Your Leagues page where it is measured up to the other teams in your league.</h3>
<h3>Points are award as follows:<br>2 points for each game win<br>-1 point for each game lose<br>1-3 points for a blowout match (no loses)</h3>

<% include ../partials/footer.ejs %>