<% include ../partials/header.ejs %>

<h2 class="text-center">Error: <%=error%></h2>
<h3 class="text-center">"<em><%=url%></em>" is not a valid page. <a href="/">Click Here</a> to return to the main page.</h3>

<% include ../partials/footer.ejs %>