<% include ../partials/header.ejs %>

<h1 class="text-center">Welcome to Fantasy Starcraft 2</h1>
<img class="icon-sm" src="/images/protoss.png"><img class="icon" src="/images/terran.png"><img class="icon-lg" src="/images/zerg.png">

<% include ../partials/footer.ejs %>