<% include ../partials/header.ejs %>

<h1 class="text-center">Welcome to Fantasy Starcraft 2</h1>
<img class="icon-sm" src="/images/protoss.png"><img class="icon" src="/images/terran.png"><img class="icon-lg" src="/images/zerg.png"><img class="icon-xl" src="/images/protoss.png"><br>
<img class="icon-sm" src="/images/flags_iso/24/kr.png"><img class="icon" src="/images/flags_iso/32/kr.png"><img class="icon-lg" src="/images/flags_iso/48/kr.png"><img class="icon-xl" src="/images/flags_iso/64/kr.png">

<% include ../partials/footer.ejs %>