<% include ../partials/header.ejs %>

<h1 class="text-center"><%=name%></h1>
<hr>
<% if(user) { %>
<div class="row">
    <div class="col-md-2 slot" id="slot1"><h3 class="text-center">Player Slot 1</h3><h4 class="text-center"></h4></div><div class="col-md-2 slot" id="slot2"><h3 class="text-center">Player Slot 2</h3><h4 class="text-center"></h4></div><div class="col-md-2 slot" id="slot3"><h3 class="text-center">Player Slot 3</h3><h4 class="text-center"></h4></div>
    <div class="col-md-2 slot" id="slot4"><h3 class="text-center">Player Slot 4</h3><h4 class="text-center"></h4></div><div class="col-md-2 slot" id="slot5"><h3 class="text-center">Player Slot 5</h3><h4 class="text-center"></h4></div><div class="col-md-2 slot" id="slot6"><h3 class="text-center">Player Slot 6</h3><h4 class="text-center"></h4></div>
</div>
<br>
    <form id="createTeamForm" action="/manage/create/team" method="post">
    <div class="form-group">
        <input type="text" name="name" placeholder="Enter your team name">
    </div>
    <input type="hidden" name="slot1" id="inputSlot1" value="">
    <input type="hidden" name="slot2" id="inputSlot2" value="">
    <input type="hidden" name="slot3" id="inputSlot3" value="">
    <input type="hidden" name="slot4" id="inputSlot4" value="">
    <input type="hidden" name="slot5" id="inputSlot5" value="">
    <input type="hidden" name="slot6" id="inputSlot6" value="">
    <input type="submit" class="btn btn-warning btn-lg" value="Create Team">
    </form>
<br>
<% } %>
<div class="row">
    <div class="col-md-6 pane roster">
        <input type="hidden" value="/pull/<%=param%>" id="param">
        <ul class="list-group roster">
            <li class="blank"></li>
        </ul>
        <img class="loading" src="/images/ajax-loader.gif">
    </div>
    <div class="col-md-6 pane stats">
        <table class="statTable">
            <tr><td class="pull-right">Overall Average</td><td id="overallRecord" class="stat"></td></tr>
            <tr><td class="pull-right">Average vP</td><td id="vP" class="stat"></td></tr>
            <tr><td class="pull-right">Average vT</td><td id="vT" class="stat"></td></tr>
            <tr><td class="pull-right">Average vZ</td><td id="vZ" class="stat"></td></tr>
            <tr><td class="pull-right">Overall Rank</td><td id="overallRank" class="stat"></td></tr>
            <tr><td class="pull-right">Rank vP</td><td id="vPRank" class="stat"></td></tr>
            <tr><td class="pull-right">Rank vT</td><td id="vTRank" class="stat"></td></tr>
            <tr><td class="pull-right">Rank vz</td><td id="vZRank" class="stat"></td></tr>
        </table>
        <img class="loading" src="/images/ajax-loader.gif">
    </div>
</div>

<% include ../partials/footer.ejs %>